.panel.panel-default
  .panel-body
    .row
      .col-md-4
        = image_tag @movie.image.url(:medium)
        .table-responsive
          %table.table
            %tbody
              %tr
                %td
                  %strong
                    Title:
                %td= @movie.title
              %tr
                %td
                  %strong Description:
                %td= @movie.description
              %tr
                %td
                  %strong Movie length:
                %td= @movie.movie_length
              %tr
                %td
                  %strong Director:
                %td= @movie.director
              %tr
                %td
                  %strong Rating:
                %td= @movie.rating
      .col-md-7.col-md-offset-1
        %h1.review_title= @movie.title
        %p= @movie.description
        - if @reviews.blank?
          %h3 No review just jet, would you like to add the first!
          = link_to "Write your review", new_movie_review_path(@movie), class: "btn btn-danger"
        - else
          - @reviews.each do |review|
            .reviews
              %p= review.rating
              %p= review.comment
              %p= review.user.email
